html {
  box-sizing: border-box;
  font-family: Merriweather, serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

header {
  background-color: #d05c2e;
}

h1 {
  color: #fff;
}

ul {
  list-style-type: none;
}

a {
  color: #fff;
  font-weight: normal;
  text-decoration: none;
}
