html {
  box-sizing: border-box;
  font-family: Merriweather, serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

header {
  background-color: #d05c2e;
}

h1 {
  color: #fff;
}

ul {
  list-style-type: none;
  padding-left: 0;
}

li {
  display: inline-block;
  border-style: solid;
  border-width: 1px;
  border-color: #a63f38;
}

a {
  color: #fff;
  font-weight: normal;
  text-decoration: none;
}
